body {
    min-height: 100vh;

    background: rgb(44,158,187);
    background: radial-gradient(circle, rgba(0,157,192,1) 8%, rgba(22,22,22,1) 96%);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card {
    min-width: 310px;
}

.image-wrapper {
    --image-size: 150px;
    width: var(--image-size);
    height: var(--image-size);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    overflow: hidden;

    margin-top: calc(var(--image-size)/-2);

    background: rgb(44,158,187);
    background: radial-gradient(circle at bottom, rgba(0,157,192,1) 92%, rgba(22,22,22,1) 96%);
}


.image-wrapper > img {
    width: calc(var(--image-size) - 20px);
    height: calc(var(--image-size) - 20px);

    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    object-fit: cover;

}
.user-info-wrapper {
    border-radius: 10px;
    padding: 10px 15px
;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}